---
layout: defaultScrollSpy
title: Documentation - PowerPointLabs
---

<div class="container">
  <div class="row page-header col-xs-12">
    <h1>Documentation</h1>
  </div>
  <div class="row">
    <div class="col-xs-10">
      <div class="documentation-body">
        <p>
          You can find detailed instructions on how to use all of PowerPointLabs' features here. If you'd like to jump right in and learn on the go, though, 
          you can also download our <a href="http://www.comp.nus.edu.sg/~pptlabs/download-78563/Tutorial.pptx">Quick Start Tutorial</a> and follow the steps there.
        </p>
      </div>

      {% for section in site.categories.documentation reversed %}
        <div class="documentation-body">
          <div class="page-header">
            <h2>
              <a class="anchor-bookmark" {% if section.bookmark %}id="{{section.bookmark}}"{% endif %}></a>{{section.title}}
              {% if section.sample %}<small><a href="{{section.sample}}">[Sample Slides]</a></small>{% endif %}
            </h2>
          </div>
          {{section.content}}
        </div>
      {% endfor %}
    </div>

    <div class="col-xs-2 right-navbar">
      <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="60">
        <li>
          <a href="#faq">Frequently Asked Questions</a>
        </li>
        <li>
          <a href="#highlight-lab">Highlight Lab</a>
        </li>
        <li>
          <a href="#picture-slides-lab">Picture Slides Lab</a>
        </li>
        <li>
          <a href="#animation-lab">Animation Lab</a>
        </li>
        <li>
          <a href="#narrations-lab">Narrations Lab</a>
        </li>
        <li>
          <a href="#captions-lab">Captions Lab</a>
        </li>
        <li>
          <a href="#zoom-lab">Zoom Lab</a>
        </li>
        <li>
          <a href="#crop-lab">Crop Lab</a>
        </li>
        <li>
          <a href="#colors-lab">Colors Lab</a>
        </li>
        <li>
          <a href="#shapes-lab">Shapes Lab</a>
        </li>
        <li>
          <a href="#effects-lab">Effects Lab</a>
        </li>
        <li>
          <a href="#agenda-lab">Agenda Lab</a>
        </li>
        <li>
          <a href="#shortcuts-lab">Shortcuts Lab</a>
        </li>
      </ul>
    </div>
  </div>
</div>