--- 
layout: defaultScrollSpy 
title: Documentation - PowerPointLabs 
---

<div class="container">
  <div class="row page-header col-xs-12">
    <h1>Documentation</h1>
  </div>
  <div class="row">
    <div class="col-xs-10">
      <div class="documentation-body">
        <p>
          You can find detailed instructions on how to use all of PowerPointLabs' features here. If you'd like to jump right in and learn on the go, though, 
          you can also download our <a href="./samples/tutorial.pptx">Quick Start Tutorial</a> and follow the steps there.
        </p>
      </div>

      {% for section in site.categories.documentation reversed %}
        <div class="documentation-body">
          <div class="page-header">
            <h2>
              <a class="anchor-bookmark" {% if section.bookmark %}id="{{section.bookmark}}"{% endif %}></a>{{section.title}}
              {% if section.sample %}<small><a href="{{section.sample}}">[Sample Slides]</a></small>{% endif %}
            </h2>
          </div>
          {{section.content}}
        </div>
      {% endfor %}
    </div>

    <div class="col-xs-2 right-navbar">
      <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="60">
        <li>
          <a href="#faq">Frequently Asked Questions</a>
        </li>
        <li>
          <a href="#spotlight">Spotlight</a>
        </li>
        <li>
          <a href="#auto-animate">Auto Animate</a>
        </li>
        <li>
          <a href="#auto-narrate">Auto Narrate</a>
        </li>
        <li>
          <a href="#auto-captions">Auto Captions</a>
        </li>
        <li>
          <a href="#auto-zoom">Auto Zoom</a>
        </li>
        <li>
          <a href="#auto-crop">Auto Crop</a>
        </li>
        <li>
          <a href="#shortcuts">Shortcuts</a>
        </li>
        <li>
          <a href="#highlight">Highlight</a>
        </li>
      </ul>
    </div>
  </div>
</div>
