---
layout: default
title: PowerPointLabs
---

<div class="container">
	<div class="jumbotron row">
		<div class="col-xs-6 text-center">
			<h1>
				PowerPoint supercharged.
			</h1>
			<p>
				Impressive presentations made easy.
			</p>
			<p>
				<a class="btn btn-lg btn-success" href="https://docs.google.com/forms/d/19R9StG_Zoj9XabdCpiNgXpiKhXNrloxmBfW9VNFh1aY/viewform">
					Grab it while it's free.
				</a>
			</p>
			<p>
				<small>For PowerPoint 2010, 2013 and 2016 on Windows.</small>
				<br>
				<small>(Not compatible with Mac OS X)</small>
			</p>
		</div>

		<div class="col-xs-4">
			<iframe width="420" height="315" src="//www.youtube.com/embed/cOmC14DGddU?rel=0" frameborder="0" allowfullscreen></iframe>
		</div>

		<div class="row col-xs-10 col-xs-offset-1">
			<div>
				<p id="user-count-row" align="center">
					<span id= "user-count-numbers-row">
						100,000+
					</span> 
					have benefited from PowerPointLabs so far... 
				</p>
			</div>
			<div>
				<img src="./img/quote-open.png" align="left"/>
			</div>
			<div>
				<img src="./img/quote-close.png" align="right"/>
			</div>
			<br />
			<div>
				<p  id="testimonial-row">
				</p>
			</div>
		</div>
	</div>

	<div class="row col-xs-10 col-xs-offset-1">
		<p>
			The typical PowerPoint presentation isn't very interesting. Walls of text or bullet points, with few visuals - it's no wonder audiences find it hard to pay attention.
		</p>
		<p>
			Your slides don't have to be this way, and it doesn't take a whole lot of effort to make them better.
		</p>
		<p>
			PowerPointLabs makes creating engaging PowerPoint presentations easy. <strong>Check out what it can do for you below.</strong>
		</p>
		<hr />
	</div>

	<div class="row col-xs-10 col-xs-offset-1 feature-grid">

		{% for feature in site.data.features %}

		<div class="row col-xs-offset-1">
			{% capture remainder %}{{ forloop.index | modulo:2 }}{% endcapture %}
			{% if remainder == '1' %}
			<div class="col-xs-3">
				<img src="{{feature.img}}">
			</div>
			{% endif %}
			<div class="col-xs-7">
				<h3>{{feature.tagline}}</h3>
				<p>
					{{feature.description}}
					{% if feature.url %}
					<a href="{{feature.url}}">[More]</a>
					{% else %}
					[Coming Soon]
					{% endif %}
				</p>
			</div>
			{% if remainder == '0' %}
			<div class="col-xs-3">
				<img src="{{feature.img}}">
			</div>
			{% endif %}
		</div>
		{% endfor %}
	</div>
</div>
<script src="./js/index.js"></script>