<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-logo navbar-header pull-left">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <img height="26" src="{{ site.baseurl }}/img/Logo.png">
    </a>
  </div>
  <ul class="navbar-header">
    <li><a class="btn btn-link navbar-btn{% if page.url == '/download.html' %} current{% endif %}" href="{{ site.baseurl }}/download.html">Getting Started</a></li>
    <li><a class="btn btn-link navbar-btn{% if page.url contains '/docs/' %} current{% endif %}" href="{{ site.baseurl }}/docs/">User Guide</a></li>
    <li><a class="btn btn-link navbar-btn{% if page.url == '/gallery.html' %} current{% endif %}" href="{{ site.baseurl }}/gallery.html">Shape Libraries</a></li>
    <li><a class="btn btn-link navbar-btn{% if page.url == '/terms-of-use.html' %} current{% endif %}" href="{{ site.baseurl }}/terms-of-use.html">Terms of Use</a></li>
    <li><a class="btn btn-link navbar-btn{% if page.url == '/review.html' %} current{% endif %}" href="{{ site.baseurl }}/review.html">Reviews</a></li>
    <li><a class="btn btn-link navbar-btn{% if page.url == '/contact.html' %} current{% endif %}" href="{{ site.baseurl }}/contact.html">About Us</a></li>
    <li><a id="github-logo" href="https://github.com/PowerPointLabs/PowerPointLabs-Website" target="_blank"><img src="{{ site.baseurl }}/img/github-logo.png" width="25px" height="25px"/></li>
  </ul>
</nav>
