<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header pull-left">
      <a class="navbar-brand" href="./">
        <img src="./img/Logo.png">
      </a>
    </div>
    <div class="navbar-header">
      <a class="btn btn-link navbar-btn" href="./download.html">Getting Started</a>
      <a class="btn btn-link navbar-btn" href="./docs.html">Documentation</a>
      <a class="btn btn-link navbar-btn" href="./terms-of-use.html">Terms of Use</a>
      <a class="btn btn-link navbar-btn" href="./contact.html">About Us</a>
    </div>
  </nav>