---
title: Documentation
---

<!DOCTYPE html>
<html>
    {% include header.html %}
    <body data-spy="scroll" data-target=".right-navbar">
      {% include navbar.html %}
      
      <div class="container">
        {% include docs-nav.html %}
        <div class="row page-header col-xs-12">
          {% assign urlSplit = page.url | split: "/" %}
          {% assign id = urlSplit.last | replace:".html" %}
          <h1><a class="anchor-bookmark" id="{{ id }}"></a>{{ page.title }}</h1>
        </div>
        <div class="row">
          <div class="col-xs-9">
            <div class="documentation-body">
              {{ content }}
            </div>
          </div>
          
          {% if page.hasRightNavbar %}
            {% include right-navbar.html %}
          {% endif %}
        </div>
        {% include docs-nav.html %}
      </div>

      {% unless page.hideFooter %}
        {% include footer.html %}
      {% endunless %}
    </body>
</html>
