---
title: Documentation
---

<!DOCTYPE html>
<html>
    {% include header.html %}
    <body data-spy="scroll" data-target=".right-navbar">
      {% include navbar.html %}
      
      <div class="container">
        <div class="row page-header col-xs-12">
          {% assign urlSplit = page.url | split: "/" %}
          {% assign id = urlSplit.last | replace:".html" %}
          <h1>
            <a class="anchor-bookmark" id="{{ id }}"></a>{{ page.title }}{% if page.sample %} <small><a href="{{ page.sample }}">[Sample Slides]</a></small>{% endif %}
          </h1>
        </div>
        <div class="row">
          <div class="col-xs-9">
            <div class="documentation-body">
              {{ content }}
            </div>

            {% include docs-nav.html %}
          </div>
          
          {% include right-navbar.html %}
        </div>
      </div>

      {% unless page.hideFooter %}
        {% include footer.html %}
      {% endunless %}
    </body>
</html>
